<template>
    <div>
        <div class="row">
            <div class="col-sm-3">
                <div class="well text-center">
                    <h2 class="text-primary weight">
                        <ICountUp
                                :startVal="startVal"
                                :endVal="totalVet"
                                :decimals="decimals"
                                :duration="duration"
                                :options="options"
                        />
                    </h2>
                    <p class="text-primary weight">Vet</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="well text-center">
                    <h2 class="text-success weight">
                        <ICountUp
                                :startVal="startVal"
                                :endVal="totalHuman"
                                :decimals="decimals"
                                :duration="duration"
                                :options="options"
                        />
                    </h2>
                    <p class="text-success weight">Human</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="well text-center">
                    <h2 class="text-danger weight">
                        <ICountUp
                                :startVal="startVal"
                                :endVal="totalSample"
                                :decimals="decimals"
                                :duration="duration"
                                :options="options"
                        />
                    </h2>
                    <p class="text-danger weight">Sample</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="well text-center">
                    <h2 class="text-info weight">
                        <ICountUp
                                :startVal="startVal"
                                :endVal="totalTotal"
                                :decimals="decimals"
                                :duration="duration"
                                :options="options"
                        />
                    </h2>
                    <p class="text-info weight">Total</p>
                </div>
            </div>
        </div>

        <div id="curve_chart"></div>
        <div id="chart_div"></div>
    </div>
</template>

<script>
    import ICountUp from 'vue-countup-v2';
    export default {

        components: {
            ICountUp
        },

        data(){
            return {
                totalVet: 0,
                totalHuman: 0,
                totalSample: 0,
                totalTotal: 0,
                startVal: 0,
                endVal: 0,
                decimals: 0,
                duration: 2,
                options: {
                    useEasing: true,
                    useGrouping: true,
                    separator: ',',
                    decimal: '.',
                    prefix: '',
                    suffix: ''
                },
            }
        },

        created() {
            this.getStats();
        },

        methods: {
            getStats: function () {
                const that = this;
                axios.get('/get/stats')
                    .then(function (response) {
                        that.totalVet = response.data.vet;
                        that.totalHuman = response.data.human;
                        that.totalSample = response.data.sample;
                        that.totalTotal = that.totalHuman + that.totalSample + that.totalVet;
                    })

                    .catch(function (e) {
                        console.log(e);
                    });
            }
        }
    }

</script>
