@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body, html {
    font-family: 'Raleway','Roboto', sans-serif;
    padding: 4px 0;
    margin: 0;
    background: #fefefe;
    height: 100%;
    font-size: 16px;
}

table {
    font-family: Roboto, sans-serif;
    font-size: 0.99em;
}


a.mt {background: #f8f8f8; }
a.mo {padding-left: 32px;}

.main {
    display: table;
    height: 100%;
    width: 100%;
    margin-top: -20px;

}

.main-row {
    display: table-row;
}


.main-left {
    width:  300px;
    min-width: 300px;
    display: table-cell;
    border-right: 1px solid #e4e4e4;
    float: none;
}

.main-right {
    display: table-cell;
    padding: 4px;
    vertical-align: top;
    float: none;
}


/* LEFT SIDE BAR MENU*/

.user-details span:nth-child(1) {
    font-size: 20px;
    display: block;
    color: black;
}

.user-details span:nth-child(2) {
    font-size: 15px;
    display: block;
    color: #5d5d5d;
}

.profile-pic-class {
    max-width: 200px;
    width: 57%;
}

.signature {
    display: block;
    position: fixed;
    bottom: 20px;
    text-align: right;
    width: 260px;
    margin: 0 auto;
    /* opacity: 0.40; */
    font-size: 1.8em;
    font-weight: lighter;
    color: #e3e4e3;
}


.sp-activities-list {
    display: block;
    font-family: 'droid sans', consolas, sans-serif;
    font-size: 13px;

    background: white;
    border-bottom: 1px solid #eee;
    padding: 2px;
}



/* main logo styles */
.mj-title {
    font-weight: 100;
    font-size: 2.0em;
    color: #000;
}

.mj-title:first-letter {
    color: red;
}

.mj-nav {
    background: #fafafa;
    margin-top: -18px;
    padding: 12px;
}

.mj-nav ul li:nth-child(1) {
    border-right: 1px solid #ddd;
}


.mj-nav a:hover {
    background: #f5f5f5;
}


.data-filter-form input {
    border-radius: 0;
    margin-left: 4px;
}

/* left side nav */
.ul-menu {
    display: block;
    margin: 0;
    padding: 0;
}

.ul-menu li {
    display: block;
}

.ul-menu li a {
    border-radius: 0!important;
}

.user-details a {
    padding: 0 12px;
    margin-bottom: 12px;
    margin-top: -12px;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    font-family: 'Open Sans', 'Raleway', sans-serif;
    color: #0d3625;
}


#mp:hover {
    color: darkgreen;
}

#lg:hover {
    color: darkred;
}

select.dope-select {
    padding: 6px;
    background: radial-gradient(
            ellipse at center,
            rgba(255,255,255,0.9) 0%,
            rgba(255,255,255,0.9) 31%,
            rgba(255, 255, 255, 0.9) 50%,
            #f1f1f1 100%
    );
}


