body, html {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
}

form {
    margin: 20px auto;
    padding: 44px 40px 0;
    background: white;
    display: inline-block;
    border: 1px solid #a8cec2;
    border-radius: 0 0 4px 4px;
    border-top-width: 8px;
    text-align: left;
}

form.register {
    width: 750px;
}

form label {
    margin-top: 16px;
    text-align: left;
    font-size: 1em;
    display: block;
}

form input {
    display: block;
    margin: 8px -2px;
    border: 0;
    border-bottom: 1px solid  #a8cec2;
    padding: 4px;
    width: 100%;
    letter-spacing: 1px;
    outline: none;


}

form  input:hover {
    border-bottom: 1px solid #0b582d
}

form  input:active {
    border: 0;
    outline: none;
    border-bottom: 1px solid #0b582d
}

button {
    margin: 12px;
    width: 18vw;
    padding: 8px;

}

.mr.form-group {
    margin-right: 20px;
}

@keyframes logo_animation {
    from {opacity: 0.0;}
    to { opacity: 0.6;}
}

form  span {
    text-align: center;
    display: block;
    margin-bottom: 24px;
}

textarea:focus, input:focus{
    outline: none;
}


.e-logo {
    font-size: 3.6em;
    font-variant: small-caps;
    font-weight: 400;
    margin: 0;
}

.e-logo:first-letter {
    color: #810000;
}

.form-group-x {
    padding: 6px 12px;
    max-width: 360px;
}

.form-group-x:nth-child(2n) {
    background: #fcfcfe;
}

select {
    text-transform: capitalize;
    min-width: 240px;
}

.error {
    color: #fa1818;
    text-align: left;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #fc2121;
    font-weight: 400;
    background: rgba(244, 187, 187, 0.41);
}

button {
    font-family: 'open sans', 'raleway', serif;
    background: #0856aa;
}

.alert {
    text-align: left;
    font-family: 'open sans', 'raleway', serif;
}

.alert h4 {
    font-weight: bold;
}

.left-div {
    text-align: left;
    padding: 10% 0 0 12%
}

.left-div h1{
    color: #3e3d3d;
}
.left-div p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.10em;
}

.center-div {
    text-align: center;
}

.navbar-inverse {
    margin-top: -18px;
    padding: 10px;
}


.do-have-account-or {
    display: inline-block;
    vertical-align: bottom;
    font-weight: 600;
    font-family: 'open sans', sans-serif;
}

.login-project {
    font-family: 'open sans', sans-serif;
    margin-top: -4px;
    margin-bottom: 12px;
    color: grey;
}

.modal-body {
    max-height: 400px;
    overflow-y: scroll;
}

#div-select-fac-group, #div-select-fac-multi, #div-select-fac-single0 {
    display: none;
}

hr.above-button {
    margin: 28px 0 0;
}

.btn-mj {
    margin: 38px 0 0;
}

.copyright {
    font-size: 0.7rem;
    text-align: center;
    margin: 20px 0 -2px;
    color: grey;
    display: block;
}