
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');


// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";


body, html {
  font-family: 'Open Sans', sans-serif;
  padding: 20px 0;
  margin: 0;
  background: #f9f9f9;
  height: 100%;
  font-size: 16px;
}

table {
  font-family: Roboto, sans-serif;
}